<% content_for :maps_javascript do %>
  <% for station in @stations %>

    google.maps.event.addListener(new google.maps.Marker({
      position: new google.maps.LatLng(<%= station.lat %> , <%= station.lng %>),
      map: map,
      url: '<%= station_url(station) %>',
      title:"<%= station.name %>",
      icon: sun_icon
    }), 'click', function() { window.location.href = this.url; });

  <% end %>
<% end %>

<%= content_for :page_header do %>
  <span style="color:white"><%  "Stations" %></span>
<% end %>

<% @stations.each_slice(3) do |slice| -%>

  <div class = "row">
    <% for station in slice %>
      <div class= "span4">
        <h2 style = "line-height:0.8;"><%= link_to station.name, station %></h2> 
        <br/>
        <%= station.street %>,<br/> <%= station.city %>,<br/> <%= station.zipcode %><br/>
        <pre class = "station_blurb"><%= station.description %> 
        </pre>
      </div>
    <% end %>
  </div>
  
<% end %>
