<% content_for :maps_javascript do %>
  <% for station in @stations %>

    google.maps.event.addListener(new google.maps.Marker({
      position: new google.maps.LatLng(<%= station.lat %> , <%= station.lng %>),
      map: map,
      url: '<%= station_url(station) %>',
      title:"<%= station.name %>",
      icon: sun_icon
    }), 'click', function() { window.location.href = this.url; });

  <% end %>
<% end %>

<%= content_for :page_header do %>
  <span style="color:white"><%  "Stations" %></span>
<% end %>



<% for station in @stations %>
<%= cycle('<div class = "row">'.html_safe, '', '') %>
  <div class= "span4">
    <h2><%= link_to station.name, station %></h2>      
    <%= station.street %>, <%= station.city %>, <%= station.zipcode %><br/>
    <%= station.description %>    
  </div>
<%= cycle('</div>'.html_safe, '', '') %>
<% end %>


