<% content_for :maps_javascript do %>

  var myLatlng = new google.maps.LatLng(<%= @station.lat %> , <%= @station.lng %>);

  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title:"Hello World!"
  });

<% end %>

<span style="color:white"><%  "Station" %></span>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @station.description %>
</p>
<p>
  <strong>Zipcode:</strong>
  <%= @station.zipcode %>
</p>
<p>
  <strong>Street:</strong>
  <%= @station.street %>
</p>
<p>
  <strong>City:</strong>
  <%= @station.city %>
</p>

<p>
  <%= link_to "View All", stations_path %>
</p>
