<% content_for :maps_javascript do %>
  var myLatlng = new google.maps.LatLng(<%= @station.lat %> , <%= @station.lng %>);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title:'<%= @station.name %>',
    icon: sun_icon
  });
<% end %>

<%= link_to 'on', '#', :id => "cloud_on" %>
<%= link_to 'off', '#', :id => "cloud_off", :style => "display:none;" %>

<a href="https://twitter.com/intent/tweet?button_hashtag=<%=@station.slug%>&text=I'm%20charging%20up%20with%20%40urbansunspot!" class="twitter-hashtag-button" data-size="large" data-related="digitalWestie" data-dnt="true">Tweet!</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="row">
  <div class="span4">
    <h1>Station <%= @station.name %></h1>
    <span style="color:white"><%  "Station" %></span>
    <p>
      <strong>Description:</strong>
      <%= @station.description %>
    </p>
    <p>
      <strong>Zipcode:</strong>
      <%= @station.zipcode %>
    </p>
    <p>
      <strong>Street:</strong>
      <%= @station.street %>
    </p>
    <p>
      <strong>City:</strong>
      <%= @station.city %>
    </p>

    <p>
      <%= link_to "View All", stations_path %>
    </p>
  </div>

  <div class="span8">
        <h2>Charging Level</h2>
        <hr>
            <div class="chart"></div>
        <p class="text-success pull-right">This station is ready to charge your device!
        </p>

    <a class="btn  btn-success" href="#">Charge Now!</a>
  </div>

  <div class = "span8">


<a class="twitter-timeline" data-dnt=true href="https://twitter.com/UrbanSunSpot" data-widget-id="267495998056693760">Tweets by @UrbanSunSpot</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    
  </div>

</div>

<script>
  
var client_url = function(date) {
  return "/graph.json";
}

var width = 600;
var height = 175;
var $chart = $(".chart");

var svg = d3.selectAll(".chart").append("svg").attr("width", width).attr("height", height);
var ratio_svg = d3.selectAll(".ratio").append("svg").append("g").attr('id', 'ratio');

function updateData(id){
  $.get(client_url(id), function(result) {
    var data = result;
    data.sample = data.production.length - 1;
    $chart.data("chart-values", data);
    $chart.trigger("data-changed");
  });
}
  
$chart.data("chart-layout", {
  width  : width,  // total width
  height : height, // total height
  left   : 37,     // space for left legend
  bottom : 15,     // space for bottom legend
  right  : 5       // right padding
});

var daily = vr.graphs.daily(svg, $chart.data("chart-layout"));
$chart.on("data-changed", function(data) {
  daily($chart.data("chart-values"));
});

updateData(1);
  
</script>
