<% content_for :maps_javascript do %>
  var myLatlng = new google.maps.LatLng(<%= @station.lat %> , <%= @station.lng %>);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title:'<%= @station.name %>',
    icon: sun_icon
  });
<% end %>

<div class="marketing">
  <br /><br />
  <h1><%= @station.name %></h1>
  <p class="marketing-byline"> <%= @station.street %>, <%= @station.city %>, <%= @station.zipcode %>.</p>
  <p id="station-description"> <%= @station.description %></p>
</div>

<div class = "row"> 
  <div class="span12"> 
    <div id = "chart-legend" style = "">        
      <div style = "height:10px; width:10px; background-color:#1b8241; display:inline-block;"></div>
      System power out (Watts)<br/>
      <div style = "height:10px; width:10px; background-color: #aaa; display:inline-block;"></div>
      Solar Watts in (Watts)
    </div>
    <div class="chart"></div>
    
    <h3 style = "text-align:center;">Solar energy <span style = "color:#1b8241;">in</span> / <span style = "color:#aaa;">out</span>.</h3>

    <!-- <a class="btn  btn-success" href="#">Charge Now!</a> -->
  </div>
</div>

<div class="row">
  <div class="span4">
    <%= image_tag "#{@station.slug}.png"  %>   
  </div>

  <div class="span4">
    <%= image_tag 'battery.png' %>
  </div>

  <div class = "span4">
    <a class="twitter-timeline" data-dnt=true href="https://twitter.com/UrbanSunSpot" data-widget-id="267495998056693760">Tweets by @UrbanSunSpot</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>    
  </div>
</div>


<script>
  
var client_url = function(date) {
  return "/graph.json";
}

var width = 940;
var height = 175;
var $chart = $(".chart");

var svg = d3.selectAll(".chart").append("svg").attr("width", width).attr("height", height);
var ratio_svg = d3.selectAll(".ratio").append("svg").append("g").attr('id', 'ratio');

function updateData(id){
  $.get(client_url(id), function(result) {
    var data = result;
    data.sample = data.production.length - 1;
    $chart.data("chart-values", data);
    $chart.trigger("data-changed");
  });
}
  
$chart.data("chart-layout", {
  width  : width,  // total width
  height : height, // total height
  left   : 37,     // space for left legend
  bottom : 15,     // space for bottom legend
  right  : 5       // right padding
});

var daily = vr.graphs.daily(svg, $chart.data("chart-layout"));
$chart.on("data-changed", function(data) {
  daily($chart.data("chart-values"));
});

updateData(1);
  
</script>
