<% content_for :maps_javascript do %>  
  <% for station in @stations %>

    google.maps.event.addListener(new google.maps.Marker({
      position: new google.maps.LatLng(<%= station.lat %> , <%= station.lng %>),
      map: map,
      url: '<%= station_url(station) %>',
      title:"<%= station.name %>",
      icon: sun_icon
    }), 'click', function() { window.location.href = this.url; });

  <% end %>
<% end %>


<div class="marketing">
    <br/>
    <br/>
    <h1>About us.</h1>
  
</div>

<br/><br/>

<div class="row">
  <div class="span4">
		<h2><a href = "http://sanfrancisco.cleanweb.co/">Hack City San Francisco</a></h2>
    <p>The Urban Sunspot is a project designed for Sol Design Lab during the Hack City San Francisco coproduced by Clean Web and Verge SF.</p>
  	<h3>Team</h3>
  	  <ul>
  	    <li>Jennifer Snook</li>
        <li>Dallas Swindle</li>
  	    <li>Beth Ferguson</li>
  	    <li><a href = "http://rorygianni.me.uk/">Rory Gianni</a></li> 
  	    <li>Tope Sosanya</li>
  	    <li>Tillmann Bielefeld</li>
  	  </ul>
  	
  </div>
  
  <div class="span4">
		<h2><a href="soldesignlab.com">Sol Design Lab</a></h2>  
    <%= image_tag 'SDL_Logo.png', :style => "max-width:95%;" %>
    <p>Sol Design Lab is a design studio dedicated to the development of progressive solutions for urban sustainability. Sol Design Lab has designed and prototyped solar-powered charging stations for electric bicycles and mobile electronics for use at festivals, business districts, university campuses, and city transportation networks. These eye-catching and educational charging stations create vital infrastructure for the integration of electric vehicles and renewable energy into future green cities.</p> <p>Thousands have experienced the power of solar energy with these iconic solar charging stations on the streets of San Francisco, San Jose, Austin, Chicago, and at SXSW, Coachella, TEDxPresidio, Maker Faire, and festivals across the U.S. Impacting future innovators, Sol Design Lab has worked with students at Hampshire College, University of Texas at Austin, Texas State, the Art Institute of Chicago, and Stanford University to develop custom charging stations and solar curriculum for their campuses.</p>

  </div>

  <div class="span4">
		<h2>Cooperation</h2>
  	<p>
      <%= image_tag 'Voltremote_logo_w300.png' %>
      The Voltremote GmbH, Hamburg, Germany supports this project with monitoring and visualization platform.
    </p>
    </div>  
  </div>
</div>

