<% content_for :maps_javascript do %>  
  <% for station in @stations %>

    google.maps.event.addListener(new google.maps.Marker({
      position: new google.maps.LatLng(<%= station.lat %> , <%= station.lng %>),
      map: map,
      url: '<%= station_url(station) %>',
      title:"<%= station.name %>",
      icon: sun_icon
    }), 'click', function() { window.location.href = this.url; });

  <% end %>
<% end %>


<h1>Contact us!</h1>

<%= image_tag 'station_with_logo.png', :style => "float:right; width:50%;"  %>

<h2><a href="http://www.SolDesignLab.com">Sol Design Lab</a></h2>
<p>
  soldesignlab[at]gmail.com<br/>
  <a href="http://www.facebook.com/soldesignlab">Sol Design Lab on Facebook</a><br/>
  <a href="http://www.twitter.com/solarpump">Sol Design Lab on Twitter</a><br/>
  <a href="http://www.twitter.com/urbansunspot">Urban Sunspot on Twitter</a><br/>
</p>
