<% content_for :maps_javascript do %>  
  <% for station in @stations %>

    google.maps.event.addListener(new google.maps.Marker({
      position: new google.maps.LatLng(<%= station.lat %> , <%= station.lng %>),
      map: map,
      url: '<%= station_url(station) %>',
      title:"<%= station.name %>",
      icon: sun_icon
    }), 'click', function() { window.location.href = this.url; });

  <% end %>
<% end %>


<p><%= link_to 'Show cloud cover', '#', :id => "cloud_on", :class => "btn" %>
<%= link_to 'Hide cloud cover', '#', :id => "cloud_off", :style => "display:none;", :class => "btn" %></p>

<div class="marketing">
  <br /><br />
    <h1>Welcome to Sunspot.</h1>
    <p class="marketing-byline">Need reasons to love Solar Energy? Look no further.</p>

    <div class="row-fluid">
      <div class="span4">
        <img src="assets/asunspot.jpeg">
        <h2>What is Sunspot?</h2>
        <p>Built at by <a href="http://twitter.com/mdo">@mdo</a> and <a href="http://twitter.com/fat">@fat</a>, Bootstrap utilizes <a href="http://lesscss.org">LESS CSS</a>, is compiled via <a href="http://nodejs.org">Node</a>, and is managed through <a href="http://github.com">GitHub</a> to help nerds do awesome stuff on the web.</p>
      </div>
      <div class="span4">
        
        <h2>Stations</h2>
        <h4>
          <% @stations.each do |station| %>
          <div style="clear:both margin-bottom:15px;" >
          <%= link_to "Check Status", station, :style=>"float:right", :class => "btn btn-success"%>
            <%= station.name %></div>
          <% end%>
        </h4>
        <p>Bootstrap was made to not only look and behave great in the latest desktop browsers (as well as IE7!), but in tablet and smartphone browsers via <a href="./scaffolding.html#responsive">responsive CSS</a> as well.</p>
      </div>
      <div class="span4">

        <h2>What People Are Saying</h2>        
        <a class="twitter-timeline" data-dnt=true href="https://twitter.com/UrbanSunSpot" data-widget-id="267495998056693760">Tweets by @UrbanSunSpot</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



        <p>A 12-column responsive <a href="./scaffolding.html#grid">grid</a>, dozens of components, <a href="./javascript.html">JavaScript plugins</a>, typography, form controls, and even a <a href="./customize.html">web-based Customizer</a> to make Bootstrap your own.</p>
      </div>
    </div>

    <hr class="soften">
</div>
