<%= form_for @charge, :url => station_charges_path(@station) do |f| %>


<% if @charge.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@charge.errors.count, "error") %> prohibited this chargefrom being saved:</h2>

    <ul>
      <% @charge.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<table class="condensed-table">
  <tr>
  <td><%= f.label :device %></td>
  <td><%= f.text_field :device, :value => request.env['HTTP_USER_AGENT'] %></td>
  </tr>

  <tr>
  <td><%= f.label :power %></td>
  <td><%= f.text_field :power, :value => 3.00 %></td>
  </tr>

</table>
<br>
<br>

<%= f.submit "Submit" ,:style=>"margin:auto",:class=>"btn primary large"%>

<% end %>