
<%= content_for :page_header do %>
  <span style="color:white"><%  "Charges" %></span>
<% end %>

<table>
  <tr>
    <th>Device</th>
    <th>Power</th>
    <th>Station</th>
    <th>User</th>
  </tr>
  <% for charge in @charges %>
    <tr>
      <td><%= charge.device %></td>
      <td><%= charge.power %></td>
      <td><%= charge.station_id %></td>
      <td><%= charge.user_id %></td>
      <td><%= link_to "Show", charge %></td>
  
    </tr>
  <% end %>
</table>
=