<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Sunspot!</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYojLDIMA5YNtqq-1yPF1KONnca4zCJfM&libraries=weather&sensor=false"></script>

  <script type="text/javascript">

    function initialize() { 
      var mapOptions = {
        center: new google.maps.LatLng(<%= @focus_lat ||= 38.46 %>, <%= @focus_lng  ||= -100 %>),
        zoom: <%= @map_zoom ||= 5 %>,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoomControlOptions: {  position: google.maps.ControlPosition.LEFT_BOTTOM, style: google.maps.ZoomControlStyle.SMALL  },
        streetViewControl:false
      };

      var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
      var cloudLayer = new google.maps.weather.CloudLayer();

      $('#cloud_on').click(function(){ console.log("hello"); cloudLayer.setMap(map); $('#cloud_off').show(); $(this).hide(); });

      $('#cloud_off').click(function(){ console.log("hello"); cloudLayer.setMap(null); $('#cloud_on').show(); $(this).hide(); });  

      var sun_icon = new google.maps.MarkerImage("<%= asset_path('sun.png')%>", new google.maps.Size(66, 66), null, new google.maps.Point(16, 16), new google.maps.Size(33, 33));

      <%= yield(:maps_javascript) %>
    }

    $(function() {
        initialize();

        $(".edit_link").click(function() {
            $.get("<%=params[:controller]%>" + "/" + $(this).attr("id") + "/edit", function(data) {

                $("#edit_form .modal-body").html(data);
                $("#edit_form").modal('toggle');
            });
        });
    });
  </script>
  <%= yield(:head) %>
</head>
<body>
<div id="wrapper">


  <div class="navbar navbar-fixed-top" style="z-index: 999999999">
    <div class="navbar-inner" style="z-index: 999999999">
      <div class="container">
        <a class="brand" href="/"><img width="220px" src="/assets/usunspot.png"/></a>
        <ul class="nav">
          <li><a href="/about" style="color:white;">About</a></li>
          <li><a href="/contact" style="color:white;">Contact</a></li>
          <li><%= link_to "View All Stations", stations_path %></li>
        </ul>

        <% if !user_signed_in? %>
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class =>"pull-right navbar-form"}) do |f| %>
                <%= f.email_field :email, :class=>"input-small", :placeholder=>"Email" %>
                <%= f.password_field :password, :class=>"input-small", :placeholder=>"Password" %>
                <%= f.submit "Sign In", :class=>"primary btn" %>
            <% end %>
        <% else %>
            <div class="pull-right" style="margin-top: 10px;color:white;">
              <%= current_user.email %>
              <span class="nav_link">
              | <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :style=>"color:white;" %>
            </span>
            </div>
        <% end %>
      </div>
    </div>
  </div>


    <div class="page-header">
      <div style = "height:450px; top:23px;" id = "map_canvas"></div>

      <br />
    </div>
    
    <div class="container">
    <div style="position:absolute;" class="span12">
      <h2>  <%= yield(:page_header) %></h2>
    </div>
  </div>

  <div class="center">
    <div class="content">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </div>

</div>

</body>
</html>
